{% extends "base.html" %}

{% block siteDescription %}Learn about the privacy and security policies for the Interactive RadioEpidemiological Program website.{% endblock %}
{% block ogtags %}
<meta property="og:title" content="Privacy and Security - Interactive RadioEpidemiological Program" />
<meta property="og:description" content="Learn about the privacy and security policies for the Interactive RadioEpidemiological Program website." />
<meta property="og:url" content="https://radiationcalculators.cancer.gov/irep/privacy/" />
{% endblock %}
{% block twittertags %}
<meta name="twitter:title" content="Privacy and Security - Interactive RadioEpidemiological Program">
<meta name="twitter:description" content="Learn about the privacy and security policies for the Interactive RadioEpidemiological Program website.">
{% endblock %}
{% block content %}
<h1 class="page-title">Privacy Policy &amp; Disclaimers</h1>
<h2>Privacy Policy</h2>
<p>The Interactive RadioEpidemiological Program (IREP) respects the privacy of visitors to our Web site. The following privacy policy establishes how IREP will use information gathered from your visit to our site.</p>
<h3>If You Visit the IREP Web Site</h3>
<p>We collect and store access information for statistical purposes. The information collected includes standard server log information, such as your computer's domain name or IP address, the date   and time you access our site, the pages you viewed, the type of browser   and operating system you used to access our site, and the external Web   site from which you followed a link to our site, if applicable. Our Web   site logs do not contain information that can be used to personally identify an individual visitor, and we make no attempt to link them with such information.</p>
<h3>If You Send Us E-mail</h3>
<p>By sending us an e-mail message, you may be sending personal information (e.g., your name, address, and e-mail address). We store the message and the e-mail address information so that we can respond electronically. Unless otherwise required by statute, we do not identify anyone who sends questions or comments to our web site. We    will not obtain any information that will allow us to personally    identify you when you visit our site, unless you chose to provide such    information to us. Please note, however, that e-mail messages are sent over the Internet as free text and are not secure from interception by unauthorized third parties.</p>
<h3>If You Send Us Any Other Information</h3>
<p>The site includes fill-in forms that may require personal information in order to receive information, software, or data. Such information will not be shared with third parties unless specified on the fill-in form or required by law. </p>
<h2 id="links">Links to Other Web Sites</h2>
<p>IREP has links to many other Web sites, including some sites which are maintained by non-governmental organizations or private companies. IREP is not responsible for the contents of any off-site Web page referenced from this site. Specifically:</p>
<ul>
	<li>IREP cannot guarantee the privacy or security of information you provide to these other Web sites.  You should review their privacy policies as well if you have concerns.</li>
	<li>Reference in this Web site to any specific commercial products, process, service, manufacturer, or company does not constitute endorsement or recommendation by the US Government or IREP.</li>
</ul>
<h3>Information Disclaimer</h3>
<p>The information provided using this Web site is only intended to be general summary information to the public. It is not intended to take the place of the written law or regulations.</p>
<h2>Intrusion Detection</h2>
<p>This site is maintained by the US Government. It is protected by various provisions of Title 18, US Code. Violations of Title 18 are subject to criminal prosecution in federal court.</p>
<p>For site security purposes, and to ensure that this service remains available to all users, we employ software programs that monitor traffic to identify unauthorized attempts to upload or change information, or otherwise cause damage. In the event of authorized law enforcement investigations, and pursuant to any required legal process, information from these sources may be used to help identify an individual.</p>        
{% endblock %}