{% load staticfiles %}
<td header="number" data-label="Number">
	<span class="index">{{forloop.counter}}</span>
</td>
<td header="exposure-event" data-label="Exposure Event">{{ form.event.label_tag }}{{ form.event }}{{form.ORDER.as_hidden}} <a class="distr-help-expo-info  hide-desktop" href="{% url "model-help_exposure_info" %}" target="_blank"><img src="{% static 'img/question_button.png' %}" height="16" width="16" title="Help" alt="Help" /></a></td>
<td header="exposure-year" data-label="Exposure Year">{{ form.yoe.label_tag }}{{ form.yoe }}</td>
<td header="organ" data-label="Organ">{{ form.organ.label_tag }}{{ form.organ }}</td>
<td header="exposure-rate" data-label="Exposure Rate">{{ form.exprate.label_tag }}{{ form.exprate }} <a class="exposure-rate-help-button  hide-desktop" href="{% url "model-help_exposure_rate" %}" target="_blank"><img src="{% static 'img/question_button.png' %}" height="16" width="16" title="Help" alt="Help" /></a></td>
<td header="distribution-type organ-dose" data-label="Distribution Typer">{{ form.dosetype.label_tag }}{{ form.dosetype }} <a class="distr-help-organ-button  hide-desktop" href="{% url "model-help_distr_organ" %}" target="_blank"><img src="{% static 'img/question_button.png' %}" height="16" width="16" title="Help" alt="Help" /></a></td>
<td header="parameter-1 organ-dose" data-label="Parameter 1">{{ form.doseparm1.label_tag }}{{ form.doseparm1 }}</td>
<td header="parameter-1 organ-dose" data-label="Parameter 2">{{ form.doseparm2.label_tag }}{{ form.doseparm2 }}</td>
<td header="parameter-1 organ-dose" data-label="Parameter 3">{{ form.doseparm3.label_tag }}{{ form.doseparm3 }}</td>
<td header="delete" data-label="Delete" class="delete-form">{% if not forloop.first %}<a class="delete-button" href="#"><img src="{% static 'img/delete.png' %}" height="16" width="16" title="Delete Dose Exposure" alt="Delete Dose Exposure" style="display:none;"/></a><div class="formset_delete" title="Exclude Dose Exposure">{{ form.DELETE.label_tag }}{{form.DELETE}}</div>{% endif %}</td>		