{% load staticfiles %}
{% load compress %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<title>I-131 Radiation Exposure - National Cancer Institute (NCI)</title>
		{% compress css %}
		<link type="text/css" rel="stylesheet" href="{% static 'css/base.css' %}">
    	<link href="{% static 'css/colorbox.css' %}" type="text/css" rel="stylesheet" />    
		{% endcompress %}
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" type="image/ico" href="{% static "img/favicon.ico" %}" />
	</head>
	<body class="help-dialog">
		<noscript>
			<div class="javascript">Some elements of this web site use Javascript. It is recommended you enable Javascript on your browser to ensure this web site functions as intended.</div>
		</noscript>
		<main id="content" class="home">
			<h1 class="page-title">Guidance on 90&#37; Uncertainty Range</h1>
			<p>A 90&#37; uncertainty range implies that there is high confidence that the true value is contained between the lower and upper values of the range.</p>       
			<p>Within this calculator, the 90&#37; uncertainty range is obtained from 1,000 simulations of dose and risk, using probability distributions to represent the state of knowledge in all uncertain model inputs.</p>       
		</main>
	</body>
</html>