Django==2.2.*
#pip install rcssmin==1.0.6 --install-option="--without-c-extensions"
#pip install rjsmin==1.0.12 --install-option="--without-c-extensions"
django-compressor==2.2
requests==2.12.*
celery==5.2.2
psycopg2-binary
fabric==2.5.*