{% extends "base.html" %}

{% block siteDescription %}Tutorials #1 and Tutorials #2{% endblock %}
{% block ogtags %}
<meta property="og:title" content="Tutorials - Radiation Risk Assessment Tool" />
<meta property="og:description" content="Tutorials #1 and Tutorials #2" />
<meta property="og:url" content="https://radiationcalculators.cancer.gov/radrat/tutorials" />
{% endblock %}
{% block twittertags %}
<meta name="twitter:title" content="Tutorials - Radiation Risk Assessment Tool">
<meta name="twitter:description" content="Tutorials #1 and Tutorials #2">
{% endblock %}
{% block content %}
<h1 class="page-title">Tutorials</h1>
<dl>
	<dt>Tutorial #1</dt>
	<dd>...</dd>
	<dt>Tutorial #2</dt>
	<dd>...</dd> 
</dl>	
{% endblock %}